body {
    display: flex;
    justify-content: center;
    padding-top: 220px;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.clock {
    display: flex;
    gap: 10px;
    font-size: 6rem;
}

.jam {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.menit {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
.detik {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}